html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

html { 
  font-size: 62.5%; 
}

* {
  box-sizing: border-box;
}
.cgrid-container {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}
[class*="col-"] {
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
}

[class^="col-"] {
    box-sizing: border-box;
}

@media (min-width: 1000px){
	.col-300-offset-md {
    	float: left;
    }	
}

@media (min-width: 1000px) {
	.col-300-offset-md {
	    width: calc(100% - 310px);
	}
}

@media (min-width: 1000px) {
	.col-300-md {
    	width: 310px;
    	float: left;
	}
}

@media (min-width: 602px) {
	.Format4__figure,
	.Format4__content {
		display: table-cell;
		vertical-align: top;
	}
}

.card-post {
	border-left: 13px solid #C4390E;
    border-bottom: 13px solid #C4390E;
}

.mol-post_Format4 {
	padding: 1rem;
}

article.mol-post_Format4.mol-post_Format4--1 {
	position: relative;
}

article.mol-post_Format4.mol-post_Format4--1:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 67rem solid #FFF;
    border-top: 0 solid transparent;
    border-bottom: 7px solid transparent;
    position: absolute;
    left: 0;
    bottom: -7px;
}

article.mol-post_Format4.mol-post_Format4--1:before {
    content: "";
    position: absolute;
    left: -6px;
    width: 0;
    height: 0;
    border-left: 6px solid #FFF;
    border-top: 131px solid transparent;
    border-bottom: 0 solid transparent;
    transform: rotateY(180deg);
    top: 0;
}
